body {
    width: 90%;
    max-width: 1300px;
    margin: 2em auto;
    font: .9e/1.2 Arial, Helvetica, sans-serif;

}

h1 {
    text-align: center;
    color:#006400;
    line-height: 70px;
}

.container{
    display: grid;
    grid-template-columns: 600px 3fr 1fr;
    grid-gap: 6px;

}

.container > div {
    border: solid #008B8B 1px;
    border-radius: 3px;
    background-color: #98FB98;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap:10px;
    grid-row-gap: 1em ;
}

.box1{
    border: solid rgb(23, 187, 107);
    background-color: rgb(108, 231, 135);
}

.box1 > div{
    border-radius: 6px;
    padding: 16px;
    background-color: #2E8B57;
    border: 1px solid #6B8E23;

}

.box1{
    grid-column-start: 1; 
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}



.wrapper > div{
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(196, 233, 187);
    border: 2px solid rgb(2, 26, 8);
}

.flexwrapper {
    display: flex;
    align-items: flex-end;
    min-height: 200px;
}

.flexwrapper > div{
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(87, 151, 71);
    border: 2px solid rgb(5, 26, 10);

}

.flexbox1 {
    align-self: stretch;
}

.flexbox2 {
    align-self: flex-start;
}

.flexbox3 {
    align-self: stretch;
}

.gridwrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    grid-auto-rows: 200px;
}

.gridwrapper > div {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(110, 201, 87);
    border: 2px solid rgb(11, 41, 19);

}
.gridbox1 {
    align-self: stretch;
}

.gridbox2 {
    align-self: end;
}
/*.gridbox2 {
    align-self: start;
}*/
.gridbox3 {
    align-self: stretch;
}